body {
    background-color: #dcc8dc;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    font-size: 17px;
    border-top: 2px solid #202020;
    text-align: center;
}

.btn-primary {
    margin: 10px 10px 0 0;
}

.btn-danger {
    margin: 10px;
}

.add-item {
    text-align:right;
}


@media(max-width: 500px) {
  .heading {
      display: none;
  }
  
  td {
      display: block;
  }    

  td::before {
    content: attr(data-label);
    font-size: .875rem;
    color: #666;
    display: block;
    margin-bottom: 0.25rem;
  }
}