body {
    background-color: #dcc8dc;
}

.btn-primary {
    margin: 10px 10px 0 0;
}

.btn-danger {
    margin: 10px;
}

.add-item {
    text-align:right;
}


@media(max-width: 500px) {
  .heading {
      display: none;
  }
  
  td {
      display: block;
  }    

  td::before {
    content: attr(data-label);
    font-size: .875rem;
    color: #666;
    display: block;
    margin-bottom: 0.25rem;
  }
}